BOT_TOKEN=7123456789:AAHxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ADMIN_IDS=123456789
SPREADSHEET_ID=14ZwqsiYYJf3Nm7i1ScUfpuLd3wnvuCTW3FFzsOmO21U
GOOGLE_CREDENTIALS_JSON={"type":"service_account","project_id":"...","private_key":"-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n","client_email":"...@project.iam.gserviceaccount.com"}
