BOT_TOKEN=7123456789:AAHxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ADMIN_IDS=123456789
SPREADSHEET_ID_USERS=1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgVE2upms
SPREADSHEET_ID_SCHEDULE=1CyiNWt1YSB6nGNLvCeCajhpVVrquulmct85PhWF3vqt
GOOGLE_CREDENTIALS_JSON={"type":"service_account","project_id":"...","private_key":"-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n","client_email":"...@project.iam.gserviceaccount.com"}
